@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div style="display:flex;justify-content:center;border-radius:10px;">
    <iframe style="box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);border-radius:10px" width="560" height="315" src="https://www.youtube.com/embed/xVCtRG-AKPE?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>


<br />
<br />
<div style="display:flex;justify-content:center;">
    <div class="card" style="display:flex;justify-content:center;align-items:center">
        <div class="imgBx">
            <img src="~/Images/Image__1_-removebg-preview.png" style="width:135px;" alt="SKWANKWANKWA">
            <img src="~/images/image-removebg-preview (1).png" style="width:170px;" alt="SKWANKWANKWA" />
        </div>

        <div class="contentBx">
            <h2>SKWANKWANKWA</h2>
            <div class="size">
                <h3>Size :</h3>
                <span>S</span>
                <span>M</span>
                <span>L</span>
                <span>XXL</span>
            </div>
            @* <div class="color">
                <h3>Color :</h3>
                <span></span>
                <span></span>
                <span></span>
            </div> *@
            <br />
            <a href="#">Buy Now</a>
        </div>
    </div>
</div>

<script>
    // Function to rotate images
    function rotateImages() {
        var imgContainer = document.querySelector('.imgBx');
        var images = imgContainer.querySelectorAll('img');
        var firstImage = images[0];
        var secondImage = images[1];

        // Toggle the opacity of images
        if (firstImage.style.opacity === '0') {
            firstImage.style.opacity = '1';
            secondImage.style.opacity = '0';
        } else {
            firstImage.style.opacity = '0';
            secondImage.style.opacity = '1';
        }
    }

    // Call the rotateImages function every 3 seconds
    setInterval(rotateImages, 3000);


</script>